@using System.Web.Optimization
@using PhoneBook.Extensions
<!DOCTYPE html>
<html lang="en" @Html.ConditionalManifest()>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Phone Book</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Phone Book", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Contacts", "Index", "Contacts")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - <a href="http://www.Mehdi-Khalili.com">Mehdi Khalili</a></p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://twitter.com/MehdiKhalili" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    <script src="@Url.Content("~/scripts/require.js")" data-main="@Url.Content("~/scripts/main")" type="text/javascript"></script>
    </body>
</html>
