@model IEnumerable<PhoneBook.Models.ContactModel>

@{
    ViewBag.Title = "Index";
    ViewBag.SupportsOffline = true;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="contacts-grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>

<script type="text/template" id="contactRowTemplate">
    <tr id="<%= Id %>" class="persisted-offline">
        <td><%= FullName %></td>
        <td><%= PhoneNumber %></td>
        <td><%= Address %></td>
        <td>Offline</td>
    </tr>
</script>